body {
	background-color: #F7F7F7 !important;
}

.title {
	margin-bottom: 20px;
}

.title, h1 {
	text-align: center;
	width: 100%;
	color: white;
}

.logo {
	max-height: 125px;
}

#right_sidebar {
	text-align: center;
}

.settings {
	color: white;
	font-size: 2em;
	margin: 10px 10px 0 0;
}

.settings .fas {
	margin-right: 20px;
}

.settings a:link {
	color: #D24CAD;
}

.settings a:hover {
	color: #96377c;
}

/* Colors controlled in Bootstrap button customization section */
.favorite_button {
	width: 100%;
	height: 100px;
	margin: 5px;
}

.article_button {
	width: 40%;
	color: red;
	margin: 5px;
	height: 45px;
}

.predictive_button {
	margin: 5px;
	color: black;
	width: 100%;
	height: 50px;
}

.container-fluid {
	height: 100vh;
}

#clearTalk {
	width: 80px;
	height: 50px;
	vertical-align: top;
}

#speech {
	width: 75%;
	height: 50px;
	font-size: 1.5em;
}

#talk {
	width: 120px;
	height: 50px;
	vertical-align: top;
}

#talkForm {
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

/* Settings styles */
.settings-body {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.range-label {
	margin-top: 20px;
	margin-bottom: 5px;
	text-align: center;
	font-size: 1.5em;
}


/* Bootstrap Button Customizations */
.btn-favorite{color:#fff !important; background-color:#0E2B6E !important;border-color:#005a5a}

.btn-favorite:hover{color:#fff !important;background-color:#0c2357 !important;border-color:#009a9a}
.btn-favorite:focus,.btn-favorite.focus{box-shadow:0 0 0 .2rem rgba(0,90,90,0.5)}
.btn-favorite.disabled,.btn-favorite:disabled{color:#0E2B6E !important;background-color:teal;border-color:#005a5a}
.btn-favorite:not(:disabled):not(.disabled):active,.btn-favorite:not(:disabled):not(.disabled).active,.show>.btn-favorite.dropdown-toggle{color:#0E2B6E !important;background-color:#00b3b3;border-color:#000}
.btn-favorite:not(:disabled):not(.disabled):active:focus,.btn-favorite:not(:disabled):not(.disabled).active:focus,.show>.btn-favorite.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(0,90,90,0.5)}

.btn-outline-favorite{color:teal;background-color:transparent;background-image:none;border-color:teal}.btn-outline-favorite:hover{color:#222;background-color:#009a9a;border-color:teal}
.btn-outline-favorite:focus,.btn-outline-favorite.focus{box-shadow:0 0 0 .2rem rgba(0,128,128,0.5)}
.btn-outline-favorite.disabled,.btn-outline-favorite:disabled{color:teal;background-color:transparent}
.btn-outline-favorite:not(:disabled):not(.disabled):active,.btn-outline-favorite:not(:disabled):not(.disabled).active,.show>.btn-outline-favorite.dropdown-toggle{color:#0E2B6E;background-color:#009a9a;border-color:teal}
.btn-outline-favorite:not(:disabled):not(.disabled):active:focus,.btn-outline-favorite:not(:disabled):not(.disabled).active:focus,.show>.btn-outline-favorite.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(0,128,128,0.5)}
